@import url(./fonts.css);

/*  Variables */
:root {
  /* Colores */
  --color-blanco: #fff;
  --color-negro: #000;
  --color-coral: #e8a39b;
  --color-coral-oscuro: #9e3b42;
  --color-coral-transparente: #e8a39b98;
  --color-verde: #aeccaa;
  --color-rosado: #ebbb9a;
  --color-gris: #ede9d3;
  --color-naranja: #ebbb9a;
  

  /* Fuentes */
  --fuente-titulares: 'Queensila';
  --fuente-parrafo-light: 'Cocogoose Light';
  --fuente-parrafo-demibold: 'Cocogoose DemiBold';
  --fuente-resaltado: 'Cocogoose Regular'
}